:root {
    --bg-color: rgb(33, 33, 33);
    --font-color: rgb(136, 136, 136);
    --title-color: rgb(240, 240, 240);
    --border-color: rgb(65, 65, 65);
    --el-color: rgb(38, 38, 255);
}

* {
    transition: 0.3s;
    box-sizing: border-box;
}

.lower {
    position: relative;
    top: 7px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 20
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-weight: 600;
}

p {
    font-size: 1.1rem;
    font-weight: 500;
}

li a {
    text-decoration: none;
    color: var(--font-color);
}

.titlefont {
    font-family: serif;
    color: var(--title-color);

}

.navwrapper {
    display: flex;
    margin-right: 1rem;
}

.topNavbar {
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--bg-color);
    line-height: 2rem;
    text-transform: uppercase;
    justify-content: space-around;
}

.topNavbar ul {
    display: flex;
    font-size: 0.9rem;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;

}

.side-navbar {
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    flex-wrap: nowrap;
    align-items:flex-start;
    
    z-index: 101;
    flex-direction: column;
}
.side-navbar li{
    padding-left: 8rem;
    font-size: 1.8rem;
    line-height: 4rem;
}

.topNavbar h3 {
    border-radius: 0 12px;
    font-size: 0.9rem;
    margin-left: 1rem;
    white-space: nowrap;
    cursor: pointer;
    color: var(--title-color);
    text-transform: uppercase;
    border-bottom: 1px solid var(--title-color);

}


.circle {
    position: relative;
    color: var(--bg-color);
    border-radius: 100px;
    background-color: white;
    padding: 20px 1px 26px 18px;
}

.border-bot {
    z-index: 10;
    position: absolute;
    right: 3px;
    bottom: 17px;
    width: 40px;
    height: 1px;
    background-color: var(--bg-color);
}


.topNavbar li {
    margin-left: 2rem;
}

.topNavbar a:hover {
    transition: 0.5s;
    color: var(--title-color);
}

.filter li:hover {
    transition: 0.5s;
    color: var(--title-color);
}

.type p:hover {
    transition: 0.5s;
    color: var(--title-color);
}

.results p:hover {
    transition: 0.5s;
    color: var(--title-color);
}


.topbar {
    border-top: 7px solid var(--el-color);
    width: 100%;
    height: 2.5rem;
}

.titleContainer {

    padding-top: 7rem;
    margin-bottom: 1rem;
}

.titleContainer h1 {
    font-size: 8rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

.titleContainer p {
    line-height: 2.1rem;
    max-width: 65rem;
    margin-bottom: 6rem;
}

.filter ul {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    margin-bottom: 2.6rem;
}

.filter ul li {
    cursor: pointer;
    margin: 0.2rem 1.5rem;
}

.filter li:last-child {
    margin-left: auto;
}

.type h3 {
    text-transform: uppercase;
    font-size: 0.75rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.type ul {
    line-height: 2.3rem;
    text-transform: capitalize;
    margin-left: 0.7rem;
    margin-bottom: 3rem;
}

.type li {
    display: flex;
    align-items: center;
}

.type p {
    cursor: pointer;
    margin-left: 1rem;
}

img {
    transition: 0.2s;
    cursor: pointer;
}

img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 10rem;
}

.results {
    text-transform: uppercase;
    display: flex;
}

.results p {
    cursor: pointer;
    margin: 1rem;
    margin-top: 2rem;
}

.text {
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    align-items: baseline;
    margin-bottom: 2rem;
}

.title {
    line-height: 3.5rem;
    font-size: 3rem;
    margin-left: 2rem;
    margin-right: auto;
    font-weight: 400;
}

.options {
    margin: 2rem;
    margin-bottom: 0;
    line-height: 1.7rem;
    /* font-size: 1.2rem; */
    font-weight: 500;
}

.extra {
    font-weight: 500;
    /* font-size: 1.1rem; */
    line-height: 1.7rem;
    margin: 2rem;
    max-width: 17rem;
}

.contentContainer {
    padding: 0 3rem;
}

.hover:hover {
    cursor: pointer;
    color: var(--title-color);
}

.selected {
    color: var(--title-color);
}

.specialSelected {
    padding-bottom: 1rem;
    color: var(--title-color);
    border-bottom: 1px solid var(--title-color);
}

@media only screen and (min-width:768px) {
    .wrapper {
        border: 1px solid;
        border-color: var(--border-color);
        padding: 4rem;
    }

    .options {
        margin: 1 2rem;
    }

    .contentContainer {
        padding: 0 6rem;
    }
}

@media only screen and (min-width:1200px) {
    .topNavbar ul {
        margin-left: 4rem;
    }

    .contentContainer {
        padding: 0 10rem;
    }
}

@media only screen and (max-width:730px) {
    .contentContainer {
        padding: 0 4rem;
    }

    .filter ul li {
        line-height: 1.5rem;
    }

    .container {
        padding-left: 5rem;
        padding-right: 0;
    }
}

@media only screen and (max-width:500px) {
    .contentContainer {
        padding: 0 2rem 0 3rem;
    }
    .side-navbar li{
        padding-left: 3rem;
        font-size: 1.6rem;
    }

    .container {
        padding: 0;
    }

    .type p {
        font-size: 0.9rem;
    }

    .title {
        line-height: 2.5rem;
        font-size: 2rem;
        margin-right: 10rem;
    }
}